#vid_Div{

width:100vw;
  height:100vh;
  
}


main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

::-webkit-input-placeholder {
  color: var(--bg);
}
input {
  outline:none;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: audiowide;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
}
body {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
}
#logo {
  height: 9rem;
  transform: rotateZ(2deg);
  margin-top: -2.5rem;
  cursor: pointer;
  z-index: -1;
  /*display:none;*/
}
#main_Bar {
  width: 100vw;
  height: 3.5rem;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px 4px var(--bg);
  /*background:linear-gradient(var(--bg),rgb(20, 250, 147));
 */
  background: var(--bg);
  z-index: 11;
}
.inpx-form{
  width: 100%;
  margin: auto;

}
.slides{
  width:100vw;
  height:auto;
  min-height:15rem;
  max-height:30rem;
  background:grey;
  color:white;
  padding:0rem 0rem;
}
.slides img{
  width:100%;
  height:100%;
  object-fit:cover;
  
}
#srch_Text {
  width: 87vw;
  height: 2.5rem;
  text-align: center;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--bg);
  background-color: var(--fg);
  /*margin-top:3rem;*/
}
#srch_Text::-webkit-input-placeholder{
  color: var(--bg);
}

#category_Div {
  margin-top: 3.1rem;
  background-color: var(--bg);
  height: 4rem;
  width: 100vw;
  display: flex;
  gap: 2rem;
  overflow: auto;
  overflow-y: hidden;
  padding: 1rem;
  z-index: 5;
  margin-bottom: 0.5rem;
}
#category_Div section {
  font-size: 0.6rem;
  text-align: center;
  color: var(--fg);
  height: 3rem;
  width: 13.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  cursor: pointer;
}
#category_Div section img {
  height: 2.5rem;
}
#category_Div section:hover {
  text-decoration: underline;
}
#category_Div::-webkit-scrollbar {
  display: none;
}

#category_Div i {
  font-size: 2.5rem;
}

#srch_Btn {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--fg);
  border: 2px solid var(--fg);
  background: var(--bg);
  font-size: 1rem;
  cursor: pointer;
}
#help_main {
  margin-top: -3rem;
  border: 2px solid var(--bg);
  border-radius: 0.25rem;
  overflow: hidden;
}

#signup_Div {
  max-width: 100vw;
  min-height: 100vh;
  word-break: break-word;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-around;
  padding-bottom: 5rem;
  /* background: url("https://media.gettyimages.com/id/1272521873/vector/grocery-store-icon-set.jpg?s=170x170&k=20&c=wZobeHr-XeP1oAQlWchC9WZ8vPkwv-utmYKW-EMcLQ0="); */
}
#signup_Div div {
  margin-top: -9rem;
  width: 98vw;
  height: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2rem 0rem;
  border-radius: 2rem;
  overflow-x: hidden;
  opacity: 0.8;
  z-index: 2;
  box-shadow: 0px 0px 10px 4px var(--fg);
}
#signup_Div section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.side {
  background: var(--fg);
  color: var(--bg);
  border-radius: 50%;
  border: 1px solid var(--fg);
}

.main_menu{
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}
.main_menu .pxz{
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: black;
  background-color:white;
  box-shadow: 0px 0px 7px 2px grey;
  height: 2rem;
  width: 2rem;
border-radius: 1rem;
display: grid;
place-items: center;
}
.main_menu .pxz:hover{
  background-color: grey;
  color: white;
  box-shadow: 0px 0px 7px 2px white;

}
.main_menu i{
margin-top: 3rem;
  height: 2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  color: white;
  background-color: rgb(135, 120, 120);
  cursor: pointer;

}
.main_menu i:hover{
  background-color: olivedrab;
}
.main_menu h1{
  width: 100%;
  height: auto;
  font-size: large;
  background-color: rgb(10, 161, 5);
  color: white;
  box-shadow: 0px 0px 5px 1.5px grey;
  padding: 1rem;
  padding-left: 5rem;
}

.sub_btn {
  position: absolute;
  top: 0;
  transform: translate(0, 25%);
  right: 0.25rem;
  z-index: 3;
  font-size: 1.5rem;
}


.fu {
  background-color: var(--fg);
  color: var(--bg);
  height: 1rem;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 0.25rem;
  box-shadow: 0px 0px 3px 1px var(--fg);
  border: 1px solid var(--bg);
}
.inp {
  height: 3rem;
  width: 20rem;
  text-align: center;
  font-weight: bold;
  z-index: 2;
  background-color: var(--fg);
  border-radius: 0.5rem;
  border: 2px solid var(--bg);
  color: var(--bg);
}

.logol {
  height: 19rem;
  margin-top: -5rem;
  margin-bottom: 4rem;
  transform: rotateZ(2deg);
  z-index: 1;
}
.hm {
  border: 2px solid var(--bg);
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--bg);
  border: 2px solid var(--fg);
    text-shadow: 0px 0px 2px 1px black;

}

#err_Div {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
  background-color: white;

}
#err_Div img {
  height: 20rem;
}
@keyframes wek {
  0%,
  100% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(30deg);
  }
}
#err_Div a {
  color: white;
  margin-top: 2rem;
  background-color: grey;
  border-radius: 0.25rem;
  border: 2px solid black;
  text-decoration: none;
  box-shadow: 0px 0px 7px 3px grey;
  padding: 0.25rem 1rem;
  font-size: 3rem;
  transition: 2s;
  animation: wek 3s linear infinite;
  transform-origin: top;
  position: relative;
  z-index: 1;
  text-shadow: 0px 2px 2px black;

}
#err_Div a:hover{
  font-size: 10rem;
}
#err_Div a:before {
  content: "";
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1rem;
  width: 1rem;
  background: black;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 3px 1px grey;
  z-index: 0;
}

#load_Div {
  height: 100vh;
  width: 100vw;
  background-color: rgba(30, 30, 30, 0.5);

  display: grid;
  place-items: center;
  z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
}

.cl {
  height: 9rem;
  width: 9rem;
  border-top: none;
}
.loc {
  width: 25rem;
  max-width: 100vw;
  height: 4rem;
  font-size: 0.65rem;
  padding: 0.5rem;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0px 0px 3px 1px grey;
  display: flex;
  align-items: space-around;
  gap: 2px;
  color: black;
  padding-top: 0.5rem;
  background-color: rgb(196, 194, 194);
  border-radius: 0rem 1.25rem 1.25rem 1.25rem;
}
.loc i {
  font-size: 1.5rem;
  padding: 0.2rem;
  margin-left: 2px;
  margin-top: -0.25rem;
  color: var(--red);
}
.loc span {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80vw;
  color: grey;
  font-weight: bold;
  font-size: 0.6rem;
  padding-bottom: 1rem;
}
.loc button {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--blue);
  padding: 0.7rem;
  padding-right: 2rem;
  color: var(--bg);
  letter-spacing: 2px;
  height: 97.5%;
  width: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  border: none;
  border-bottom-left-radius: 15rem;
}
#sub_Nav {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 3rem;
  background-color: var(--fg);
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  z-index: 1000;
  box-shadow: 0px 0px 3px 1px var(--bg);
}
#sub_Nav a {
  text-decoration: none;
  color: var(--bg);
}
#sub_Nav a:nth-child(3) span {
  font-size: 1rem;
  margin-left: -1rem;
}

#sub_Nav i {
  height: 3.5rem;
  border-radius: 50% 50% 0px 0px;
  gap: 1rem;
  width: calc(100vw / 5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}
#sub_Nav i:hover {
  color: orangered;
}

#nav_head {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2.8rem;
  background-color: var(--fg);
  box-shadow: 0px 0px 5px 2px #302c2c;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  color: var(--bg);
}
#nav_head button {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1.5px solid var(--fg);
  background: var(--bg);
  color: var(--fg);
  margin-right: 0.5rem;
  font-family: audiowide;
  overflow: hidden;
  box-shadow: 0px 0px 3px 1px var(--bg);
}
#back_btn {
  font-size: 1.5rem;
  height: 2.1rem;
  width: 2.1rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
#back_btn:hover {
  background: rgba(250, 250, 250, 0.25);
}
#back_btn #nav_head button:hover,
#theme_btn:hover {
  border: 1.5px solid var(--bg);
  background: var(--fg);
  color: var(--bg);
}

#nav_head button:nth-child(1) {
  box-shadow: 0px 0px 3px 1px var(--bg);
  background: whitesmoke;
  border: 1px solid grey;
  position: relative;
  border: 1px solid black;
}
#nav_head button:nth-child(1)::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background: rgb(85, 248, 85);
  right: 0;
  border-left: 1px solid black;
}

#nav_head button img {
  height: 2.5rem;
  border-radius: 50%;
  transform: translate(5%, 15%);
  rotate: 5deg;
}

#food_div {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  color: var(--fg);
  gap: 0.5rem;
}
#food_div p{
  margin: 0.5rem;
  margin-bottom: 2rem;
}
#food_div img {
  margin: 0.5rem 0rem 1px 0px;
  max-height: 25rem;
  max-width: 100vw;
  height: auto;
}
#food_div div {
  margin-top: 0.5rem;
  width: 100vw;
  padding: 1rem 1rem;
  box-shadow: 0px 0px 10px 1px grey;
  overflow-x: hidden;
  color: var(--fg);
}
#food_div div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  box-shadow: 0px 0px 0px 0px white;
}
#food_div div span {
  font-size: 2rem;
}
#food_div div i {
  width: 5rem;
  background-color: var(--red);
  height: 5rem;
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0px 0px 9px 5px grey;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: rgb(69, 62, 62);
  opacity: 0.9;
  margin: 1rem;
  cursor: pointer;
  border:1px solid black;
}

#food_div div i:hover {
  box-shadow: 0px 0px 0px 0px grey;
  background-color: var(--bg);
  opacity: 1;

}

#about_food p {
  word-break: break-word;
  padding: 1rem;
}
#items_Div p:nth-child(1) {
  color: var(--fg);
  font-size: 0.5rem;
  width: 20rem;
  word-spacing: 0.25rem;
  margin-top: 1rem;
  padding-left: 1rem;
}
#items_Div p i {
  font-size: 1rem;
}
#show_spons {
  display: flex;
  flex-direction: column;
  color: var(--fg);
}
#show_spons section {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 5px 0px 7px 2px grey;
}
#show_spons section h1 {
  font-size: 0.75rem;
  padding: 0.5rem;
  color: var(--fg);
  width: 100%;
  font-weight: bold;
  border-bottom: 2px solid var(--fg);
}
#show_spons section img {
  height: 14rem;
  max-width: 95vw;
  border-radius: 0.5rem;
}
#show_spons section img:hover {
  box-shadow: 0px 0px 5px 2px grey;
}
footer {
  padding-bottom: 5rem;
  width: 100vw;
  height: auto;
  text-align: center;
  color: var(--fg);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

footer i {
  font-size: 0.7rem;
  margin: 1rem;
}
footer a {
  text-decoration: none;
}
footer i p {
  font-size: 0.5rem;
  word-spacing: 0.25rem;
}
footer section i {
  font-size: 2rem;
  box-shadow: 0px 0px 5px 2px var(--fg);
  border: 1px solid var(--bg);
  height: 2rem;
  padding-top: 0.5rem;
  width: 2rem;
  border-radius: 50%;
  color: var(--fg);
  background-color: var(--bg);
}
footer section i:hover {
  color: var(--bg);
  background-color: var(--fg);
}

#account_Div {
  padding-bottom: 5rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  align-items: center;
  justify-content: center;
}
#account_Div h5 {
  margin-right: auto;
  width: 20rem;
  padding: 1rem 0;
  background-color: rgb(190, 185, 185);
  text-shadow: 0px 1px 2px black;
  padding: 1rem;
  color: var(--bg);
  box-shadow: 0px 0px 5px 2px grey;

}
#account_Div section {
  width: 100vw;
  height: auto;
  padding: 1rem;
  color: var(--fg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 5px 0.5px #a8a3a3;
  position: relative;
}
#account_Div #tag,.tag {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px grey;
  color: var(--fg);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  overflow: hidden;
}

#account_Div section:first-child {
  border: none;
  background-color: transparent;
  color: var(--fg);
}
#account_Div .x {
  font-size: 7rem;
}
#account_Div button {
  width: 15rem;
  margin: 1rem;
  height: 2rem;
  color: var(--fg);
  border: none;
  margin-left: auto;
  background: transparent;
  text-align: right;
  box-shadow: 0px 0px 2px 0.5px grey;
  padding-right: 1rem;
}
#account_Div button:nth-child(odd):hover {
  background-color: var(--red);
  color: var(--bg);
}
#account_Div button:nth-child(even):hover {
  background-color: var(--blue);
  color: var(--bg);
}
#account_Div #lgbtn {
  background-color:grey;
  letter-spacing: 2px;
  margin: 0;
  color: white;
  margin-top: 1rem;
  border-radius: 3rem;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  box-shadow: 0px 0px 5px 1px grey;
  border: none;
  height: 2.5rem;

}
#account_Div #lgbtn:hover {
  background-color: white;
  color: black;

}

#addPlate_Div {
  padding: 5rem 0rem;
  padding-top: 0.5rem;
}
#plates {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
#plates section {
  width: 100vw;
  height: 13rem;
  box-shadow: 0px 0px 2px 2px grey;
  overflow: hidden;
  display: flex;
  position: relative;
}
#plates section:first-child{
  margin-top: 2rem;
}
#plates section:hover {
  box-shadow: 0px 0px 6px 3px grey;
}
#plates section div:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}

#plates section img {
  max-height: 11rem;
  max-width: 55%;
  border-bottom-right-radius: 1rem;
}
#plates section div:nth-child(1) {
  background: grey;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#plates section div:nth-child(3) {
  width: 100%;
  height: 2rem;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--red);
  box-shadow: 0px 0px 5px 1.5px grey;
}

#plates section p {
  font-size: 0.65rem;
  word-break: break-word;
  padding: 1rem;
  word-spacing: 2px;
  color: var(--fg);
}
#plates section p:nth-child(2) {
  width: 50%;
}
#plates section p span {
  font-size: 1.5rem;
}
#plates section div p {
  color: var(--bg);
  font-weight: bold;
  border-radius: 1rem;
  font-size: 1rem;
  width: 9rem;
  background: var(--fg);
  margin-right: -2rem;
  overflow: hidden;
}
#plates input {
  width: 4rem;
  text-align: center;
  height: 2rem;
  border: none;
  margin-left: -2rem;
  outline: none;
  border-radius: 0;
  background-color: var(--bg);
  color: var(--fg);
}
#plates i {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.9rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--fg);
  box-shadow: 0px 0px 2px 1px grey;
}
#plates i:hover {
  box-shadow: 0px 0px 0px 0px;
  color: var(--bg);
  background-color: var(--fg);
}

#plates p {
  margin: 0;
}
#order_It {
  position: sticky;
  bottom: 3rem;
  width: 100vw;
  height: 3rem;
  display: flex;
  color: var(--fg);
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--fg);
  z-index: 100;
  background-color: var(--bg);
}
#order_It button {
  width: 10rem;
  height: 65%;
  border: 1px solid var(--bg);
  background-color: var(--yellow);
  border-radius: 0.3rem;
  color: black;
  box-shadow: 0px 0px 4px 1px grey;
  position: relative;
  overflow: hidden;
}
@keyframes slide {
  0% {
    left: -1rem;
  }
  100% {
    left: 100%;
  }
}
#order_It button::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -0.25rem;
  width: 2rem;
  rotate: 30deg;
  height: 200%;
  background-color: whitesmoke;
  opacity: 0.4;
  animation: slide 0.5s linear infinite;
}
#order_It button:hover {
  background-color: var(--red);
  color: var(--bg);
}
#order_It p {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  font-size: 1rem;
  color: var(--fg);
}

#Items section {
  width: 49.5vw;
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg);
  position: relative;
  box-shadow: 0px 0px 1px 0.5px grey;
}
#Items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font-size: 0.5rem;
  width: 100vw;
  margin-bottom: 10rem;
  text-align: center;
}
#Items section section {
  width: 100%;
  height: 11rem;
  margin-bottom: 1rem;
  background: grey;
  background-size: cover;
  background-repeat: no-repeat;
}

#Items section p:nth-child(3) {
  padding: 2px;
  font-size: 0.75rem;
  height: 3.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#Items section p:nth-child(4) {
  font-size: 0.5rem;
  position: absolute;
  bottom: 1rem;
}
#Items section p span {
  font-size: 1.3rem;
}
#Items section i {
  font-size: 0.85rem;
  position: absolute;
  top: 3px;
  right: 5px;
  color: white;
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  text-shadow: 0px 3px 2px black;
  box-shadow: 0px 0px 3px 3px black;
  background: black;
}
#past_div {
  display: flex;
  width: 100vw;
  height: 20rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  overflow: auto;
  gap: 0.7rem;
  font-size: 0.4rem;
  text-align: center;
  box-shadow: 3px 0px 5px 2px grey;
  padding: 1rem 1rem;
  border-radius: 2.5px;
}
#past_div div {
  color: aqua;
  position: relative;
  border: 1px solid aqua;
  box-shadow: 0px 0px 2px 2px grey;
  height: 100%;
  min-width: 11rem;
  background: #3a3636;
  max-width: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
#past_div div:hover {
  box-shadow: 0px 2px 5px 3px grey;
}
#past_div div section {
  width: 100%;
  height: 12rem;
  margin-bottom: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}
#past_div div:hover {
  background: aqua;
  color: black;
}
#past_div div:nth-child(even) {
  border: 1px solid orange;
  color: orange;
}
#past_div div:nth-child(even):hover {
  background: orange;
  color: black;
}
#past_div img {
  max-width: 10.5rem;
  min-height: 10.5rem;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}
#past_div i {
  font-size: 1rem;
}

#past_div div p span {
  font-size: 1.5rem;
}

#past_div div p {
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.25rem 0.25rem;
}
#past_div div p:nth-child(2) {
  width: 100%;
}
#past_div div p:nth-child(3) {
  margin-top: -0.2rem;
  font-size: 0.55rem;
}
#orders_Div section {
  width: 100vw;
  height: 2.5rem;
  box-shadow: 0px 0px 2px 2px grey;
  font-size: 2rem;
  display: flex;
  color: var(--fg);
  align-items: center;
  justify-content: space-around;
}
#orders_Div section i span {
  font-size: 0.55rem;
}
#orders_Div section i {
  color: var(--yellow);
  text-shadow: 0px 0px 1px black;
  cursor: pointer;
  letter-spacing: 2px;
}
#orders_Div section i:nth-child(2) {
  color: var(--blue);
}
#orders_Div section i:nth-child(3) {
  color: var(--red);
}
#orders_Div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#orders_Div div {
  width: 100vw;
}

#orders_Div div {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
}
#orders_Div div div {
  width: 100vw;
  height: 11rem;
  display: flex;

  margin: 0;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 0.5px 0.5px grey;
}
#orders_Div div div div {
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
}
#orders_Div div div:hover {
  box-shadow: 0px 0px 5px 3px grey;
}
#orders_Div div div:first-child {
  margin-top: 0.1rem;
}
#orders_Div div div:last-child {
  margin-bottom: 10rem;
}

#orders_Div div p {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  color: var(-fg);
  word-break: break-word;
  width: 50%;
  height: 100%;
}
#orders_Div div p span:nth-child(2) {
  font-size: 1.5rem;
}
#contact {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--fg);
  padding-bottom: 5rem;
}
#contact section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
#contact button {
  width: 10rem;
  height: 2rem;
  background-color: var(--fg);
  color: var(--bg);
  border-radius: 1rem;
}
#contact button:hover {
  background-color: var(--bg);
  color: var(--fg);
  border-radius: 1rem;
  box-shadow: 0px 0px 3px 2px var(--fg);
}
#contact img {
  max-width: 100vw;
  max-height: 20rem;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px var(--fg);
  padding: 1rem;
}
#contact textarea {
  height: 20rem;
  width: 95%;
  color: var(--blue);
  padding: 1rem;
  border-radius: 2rem;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwX3YdlF8sBfgPhOwMpi1BdY1jm4Rxg7FjUO91Mfj_JttGgn0Q2r_Ccr0yZ3m8mxfmEa0&usqp=CAU");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 20rem;
}

#about {
  padding-top: 1rem;
  padding-bottom: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#browsefaqs div {
  background: var(--bg);
  color: var(--fg);
  border: 1px solid var(--fg);
  border-radius: 1rem;
}
#browsefaqs button {
  background-color: var(--fg);
  border: 3px solid var(--bg);
  color: var(--bg);
  border-radius: 1rem;
}

#about_yummy {
  min-height: 10rem;
  background-color: var(--fg);
  color: var(--bg);
  padding: 1rem;
  border-radius: 2px;
}
#about_yummy img {
  border-radius: 50%;
  border: 5px solid black;
}

#profile section {
  width: 100vw;
  height: 15rem;
  background-color: var(--blue);
  padding-top: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#profile h1 {
  text-align: center;
  color: var(--blue);
  text-shadow: 0px 0px 2px grey;
}
#profile section i {
  font-size: 4rem;
  color: var(--fg);
  height: 6rem;
  width: 6rem;
  margin: 1rem;
color: rgb(79, 76, 76);
  background: aqua;
  box-sizing: box;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 2s;
  border: 2px solid black;
  position: sticky;
  top: 3rem;
}
#profile i:nth-child(3) {
  background: violet;
}
#profile i:nth-child(4) {
  background: linear-gradient(violet, indigo, blue, green, yellow, orange, red);
color: wheat;
}

#profile span {
  height: 2rem;
  width: 2rem;
  color: var(--fg);
  background-color: var(--bg);
  border: 2px solid black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 3rem;
  z-index: 5;
  left: 50%;
  transform: translate(50%, -100%);
  cursor: pointer;
}
#profile {
  padding-bottom: 10rem;
}
#profile p {
  margin-top: 1rem;
  color: var(--blue);
}
#profile div {
  padding: 1rem;
}
#profile textarea {
  width: 90vw;
  height: 10rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  max-height: 10rem;
  max-width: 91vw;
  padding: 1rem 1rem;
  background-color: transparent;  
}
#profile button {
  width: 20rem;
  height: 2.5rem;
  border-radius: 3rem;
  background-color: var(--red);
  position: relative;
  color: var(--bg);
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid;
  box-shadow: 0px 0px 5px 1px grey;
  letter-spacing: 2px;
}
#profile button:hover {
  background-color: var(--fg);
}
#profile input {
  width: 90vw;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--blue);
  margin-bottom: 1rem;
  outline: none;
  font-size: 0.8rem;
  color: grey;
  font-family: sans-serif;
}
#profile h5 {
  position: absolute;
  bottom: 3rem;
  font-size: 0.8rem;
  color: var(--bg);
}
#profile section h2 {
  position: absolute;
  bottom: 1rem;
  font-size: 1.2rem;
  color: var(--bg);
}
.spn {
  display: none;
}
.gender {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  box-shadow: 0px 0px 3px 0.5px grey;
  padding: 1rem;
  border-radius: 0.15rem;
}
#load_Section {
  width: 100vw;
  height: 0.25rem;
  background-color: rgb(0, 248, 112);
  position: absolute;
  top: 0;
}

.gender i {
  width: 5rem;
  height: 5rem;
  transition: 0.5s;
  font-size: 3rem;
  padding: 0.25rem 0.25rem;
  color: black;
  overflow: hidden;
  background: aqua;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  text-shadow: 0px 1px 1px black;
  box-shadow: 0px 0px 7px 0.5px grey;
}
.h6 {
  padding: 0.7rem;
  color: grey;
  border-bottom: 0.5px solid rgb(174, 169, 169);
  display: flex;
  gap: 0.5rem;
  align-items: space-around;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  font-weight: 0;
}

.gender i:nth-child(2) {
  background: violet;
}
.gender i:nth-child(3) {
  background: linear-gradient(
    violet,
    #a251db,
    #6c6cd0,
    green,
    yellow,
    orange,
    red
  );
}
.online {
  min-width: 2rem;
  height: 0.6rem;
  font-size: 0.4rem;
  position: fixed;
  right: 0px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  bottom: 2px;
  background: black;
  border: 1px solid grey;
  padding-left: 2px;
  z-index: 1011;
  color: white;
}
#addPlate_Btn {
  position: relative;
}
#addPlate_Btn p {
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: var(--red);
  border-radius: 50%;
  transform: translate(100%, -25%);
  font-size: 0.5rem;
  font-family: sans-serif;
  color: whitesmoke;
  padding: 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
}

#order_Details_Div {
  padding-bottom: 5rem;
  padding-top: 1rem;
  overflow-y: hidden;
}
#order_Details_Div img {
  max-height: 20rem;
  max-width: 100%;
  display: block;
  margin-left: auto;
}
.spr {
  position: relative;
  height: 7rem;
  width: 0.25rem;
  background: var(--fg);
  margin-top: -1.5rem;
  margin-left: 0.5rem;
  z-index: -1;
  margin-bottom: -2px;
}
#order_Details_Div div {
  box-shadow: 0px 0px 5px 1px grey;
  padding: 0.15rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#order_Details_Div h3 {
  font-size: 0.7rem;
}
#order_Details_Div p,
#order_Details_Div h5 {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#order_Details_Div i {
  font-size: 1.5rem;
  width: 2rem;
  color: var(--bg);
  text-shadow: 0px 2px 2px #6f5d5d;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: var(--fg);
}

.otp_Continer {
  height: 25rem;
  width: 20rem;
  box-shadow: 0px 0px 5px 2px grey;
  margin: auto;
  margin-top: 2rem;
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.otp_Continer i {
  margin-right: auto;
  margin-left: 1rem;
  font-size: 2rem;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red);
  color: var(--bg);
  border: 2px solid black;
}
.otp_Continer i:hover {
  box-shadow: 0px 0px 0px 0px var(--fg);
}
.otp_Continer input {
  border: none;
  background: transparent;
  border-bottom: 5px solid var(--fg);
  width: 95%;
  outline: none;
  color: var(--fg);
  text-align: center;
  font-size: 3rem;
  margin-top: -3rem;
  letter-spacing: 2rem;
  font-weight: bold;
}
.otp_Continer input::placeholder {
  color: var(--fg);
}
.otp_Continer button {
  width: 50%;
  height: 3rem;
  background: var(--fg);
  box-shadow: 0px 0px 5px 2px grey;
  border: none;
  border-radius: 0.25rem;
  border: 2px solid var(--fg);
  color: var(--bg);
  font-size: 2.5rem;
}
.otp_Continer button:hover {
  box-shadow: 0px 0px 0px 0px grey;
}
.otp_Continer p {
  font-size: 0.5rem;
  text-align: center;
  padding: 1rem;
  letter-spacing: 2px;
  margin-bottom: -2rem;
}
.forget_Div {
  height: 100vh;
  width: 100vw;
  background: white;
  box-shadow: 0px 0px 5px 2px grey;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  color: black;
}
.forget_Div i {

  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 3rem;
  display: grid;
  place-items: center;
  font-weight: bold;
  margin-left: 1rem;
  color: grey;
  margin-right: auto;
}
.forget_Div i:hover {
  color: black;
}

.forget_Div input {
  width: 20rem;
  height: 3.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  outline: none;
}
.forget_Div button{
  margin-top: -3rem;
  width: 15rem;
  height: 3rem;

}



#swiper{
  height: 25rem;
}

.seller_div{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: whitesmoke;
  color: black;
}
#seller_adv p{
  box-shadow: 0px 0px 5px 2px grey;
  margin: 1rem;
  align-items: center;
  height: auto;
}
#seller_adv section{
  width: 100vw;
  height: auto;
  box-shadow: 0px 0px 5px 2px grey;
  align-items: center;
  justify-content: center;
}
#seller_adv i{
  font-size: 2rem;
  padding: 1rem;
  background-color: rgb(43, 167, 43);
  color: white;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
}

#nav_of_seller{
  width: 100vw;
  height: 3.5rem;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 2px grey;
  position: sticky;
  margin-bottom: 1rem;
  padding: 0.25rem;
color:black;
top: 0;
left: 0;
z-index: 2;
}
#nav_of_seller img{
  height: 90%;
  border-radius: 50%;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  box-shadow: 0px 0px 5px 2.5px grey;
  margin-left: 1rem;
}
#nav_of_seller i{
  font-size: 1.5rem;
  padding: 1rem;
}
#nav_of_seller i:hover{
  color:rgb(84, 147, 61);
  border-bottom: 2px solid black;
}


.xtx {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: white;

  overflow: hidden;
  position: relative;
  /* background: url("https://media.gettyimages.com/id/1272521873/vector/grocery-store-icon-set.jpg?s=170x170&k=20&c=wZobeHr-XeP1oAQlWchC9WZ8vPkwv-utmYKW-EMcLQ0="); */
}
.xtx::before {
  content: "";
  position: absolute;
  width: 50%;
  min-height: 100vh;
  height: auto;
  top: 0;
  right: 0;
  background: rgb(82, 243, 120);

  /* border-left: 5px solid black; */
}

.xtx_cop{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  overflow-y:auto ;
}
.eye{
  position: absolute;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  color: grey;
  top:0;
  right: 0;
  z-index: 1e5;
  height: 100%;
  width: 20%;
  display: grid;
  place-items: center;
}
.eye_cop{
  position: relative;
  width: 100%;
  height: auto;
}
.eye:hover{
color: black;

}

.register_Container {
  height: auto;
  display: flex;
  width: 23rem;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 5px;
  padding: 3rem 1rem;
  background: whitesmoke;
  position: relative;
  border: 1px solid black;
  box-shadow: 0px 0px 8px 3px grey;
  margin-top: 3rem;
  border: none;
  margin-bottom: 3rem;
}

.register_Container img {
  height: 21rem;
  margin-top: -50%;
  max-width: 40rem;
}
.register_Container p{
  color: black;
}

#img_preview{
  height: auto;
  margin: 0;
  max-width: 100%;
  width: 10rem;
  max-height: 10rem;
  margin-top: -6.5rem;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.25rem;

}
.register_Container h1 {
  font-size: 0.7rem;
  position: absolute;
  top: 5rem;
  right: 0px;
  height: 1.5rem;
  width: 5rem;
  background: rgb(20, 220, 140);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: 1px solid black;
  border-right: 0px solid;
}
.register_Container h1 i {
  font-size: 1.2rem;
}
.register_Container div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#signup_Div {
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--bg), var(--fg));
}
.seller_pannel .info{
  width: 100%;
  min-height: 5rem;
  position: relative;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0px 0px 5px 1px grey;
  overflow: hidden;
  color: black;
  background-color: white;
}

.sub_cat{
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 5px 1px grey;
  display: flex;
  flex-direction: column;
justify-content: center;
padding: 0.5rem;
  align-items: space-around;
  gap:1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tag_sel{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 0px 5px 1px grey;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
#food_control{
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-around;
  margin-left: -1rem;
}
#food_control p{
  background-color: grey;
  border: 1px solid white;
  padding: 0.5rem;
  color: white;
  border-radius: 2px;
}


/*Only Desktop & Pads MediaQuery  */
@media (min-width: 806px) {
  .inp_sub_cat{
  width: 25rem;
  }
  .sub_cat{
    flex-direction: row;
    flex-wrap: wrap;
  }
.temp_img{
  width: 50%;
}
#swiper{
  height: 80vh;
 margin: auto;
}
  #signup_Div div {
    width: 50rem;
    margin: 0;
    margin-top: 2rem;
    border: none;
    box-shadow: 0px 0px 0px 0px grey;
    background-color: transparent;
  }

  #order_Details_Div div {
    padding: 2rem;
  }
  #advertise img {
    max-width: 50vw;
    height: auto;
  }
  #advertise {
    max-width: 50vw;
  }

  #contact section {
    width: 50vw;
  }
  #orders_Div div {
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  #orders_Div div div {
    width: 25rem;
    justify-content: flex-start;
  }

  #Items section {
    width: 12rem;
  }
  #Items {
    gap: 1rem;
  }
  #Items section:hover {
    box-shadow: 0px 0px 5px 2.5px grey;
    cursor: pointer;
  }

  #order_It {
    bottom: 0;
  }
  #plates section {
    width: 25rem;
  }
  #logo {
    margin-left: -5rem;
  }
  #account_Div section {
    width: 25rem;
    margin: 2rem;

  }

  #main_Bar {
    justify-content: space-around;
    padding-right: 2rem;
    border-bottom: 1px solid var(--fg);
    align-items: center;
  }
  #help_main {
    margin-right: 9rem;
  }
  #srch_Text {
    width: 30vw;
  }

  .inp {
    width: 30rem;
  }
  .logol {
    height: 21rem;
  }

  #category_Div {
    height: 5.5rem;
    margin-top: 5px;
    padding-top: 1.5rem;
  }
  #category_Div section img {
    height: 3rem;
  }
  #sub_Nav {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.2rem;
    right: 3.5rem;
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px var(--bg);
  }
  #sub_Nav i {
    background-color: var(--fg);
    color: var(--bg);
    border-radius: 50%;
    border: 2px solid var(--bg);
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    text-shadow: 0px 0px 1px black;
  }

  #sub_Nav a:nth-child(3) span {
    font-size: 1rem;
    margin-left: -0.55px;
  }
  #sub_Nav i:hover {
    color: lightcoral;
  }


  #nav_head {
    height: 3.5rem;
  }

  #about_food {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #abou_hotel h5 {
    width: 100vw;
    height: 2rem;
  }
  #orders_Div section i span {
    font-size: 1rem;
  }
  #orders_Div div div:first-child {
    margin-top: 0rem;
  }
  #orders_Div div div:last-child {
    margin-bottom: 0rem;
  }
  .spn {
    margin-left: -2.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--fg);
    color: var(--bg);
    display: grid;
    place-items: center;
  }
  #orders_Div div div {
    width: 25rem;
  }
  #plates {
    gap: 1rem;
  }

  #nav_head button {
    height: 2.5rem;
    width: 2.5rem;
  }

  .register_Container {
    width: 25rem;
  }
  #food_div div{
    width: 50vw;
  }
  #food_control{
    width: 30rem;
  }

}
